*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-grey: #0c0c3d;
    --light-grey: #f5f6f7;
    --white: #ffffff;
    --black: #000;
    --red: #ff0000;
}

body {
    background-color: var(--dark-grey);
    text-align: center;
    padding: 10px;
}

.title,
.options-label,
.team-stats {
    color: var(--white);
}

.title {
    margin: 1.3rem 0;
}

.team-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.3rem;
    margin: 1.2rem 0;
}

.options-label {
    font-size: 1.2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.player-card {
    background-color: var(--light-grey);
    padding: 1.3rem;
    margin: 1.2rem;
    width: 300px;
    border-radius: 15px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
footer a {
    color: var(--white);
    text-decoration: none;
    bottom: 0;
}
footer a:hover {
    color: var(--red);
}

@media (max-width: 768px) {
    .team-stats {
        flex-direction: column;
        font-size: .9rem;
    }
    body {
        font-size: 14px;
        margin: 10px;
    }
    .container {
        width: 80%;
    }
    .player-card {
        background-color: var(--light-grey);
        padding: 20px;
        margin: 1rem;
        width: 220px;
        border-radius: 15px;
    }
}